.daily-parent {
    margin: auto;
    text-align: center;
    font-family: 'Arya', sans-serif;
}

.date {
    font-size: 18px;
    margin: 0;
}

.date-mood-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date-mood-parent img {
    width: 50px;
}

.todo-journal-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20vw;
}

.parentsofInput{
    display: flex;
    flex-direction: column;
}