.task{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.task-input {
    font-size: 16px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 90%;
}

.completed {
    color: #d9d9d9;
    text-decoration: line-through;
}

.task-form {
    flex-grow: 2;
}

.todotaskadded{
    text-align: left;
    flex-grow: 2;
    margin:1px;
}

.x{
    width:12px;
}
