.round {
    border-radius: 90%;
}

.inputbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    justify-items: center;

}

.inputbar{
    display:flex;
    flex-direction: column;
    max-height: 500px;
}

.todo-input {
    height: 30px;
    width: 300px;
    font-size: 16px;
    border: 0;
    outline: 0;
    background: transparent;
      border-bottom: 1px solid black;
}

.tasklist-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
