img.homeButton{
    width: 220px;
   
}

.app-outer-div .pages {
    width: 100vw;
    height: 10vh;
}

.app-outer-div .logo {
    width: 100vw;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.app-outer-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
