img.homeButton{
    width: 220px;
   
}

.app-outer-div .pages {
    width: 100vw;
}

.app-outer-div .logo {
    width: 100vw;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.app-outer-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.background-plain {
    background-image: url('./plain.png');
}

.background-plain2 {
    background-image: url('./plain2.png');
}

.background-plain3 {
    background-image: url('./plain3.png');
}

.calendaricon{
    width:34px;
    padding-left: 10px;
}

